header
	h2(style="display: block") Education

each edu, name in education
	section
		h3.education-institution= name
		
		table
			tbody
				tr.education-row
					td.education-label
						span.glyphicon.glyphicon-map-marker
						span.label-text Location
					td.education-location
						a.education-location-link(href='https://www.google.com/maps/place/' + edu.city + ',+' + edu.country, target='_blank')= edu.city
						span.education-country= ' / ' + edu.country
				
				tr.education-row
					td.education-label
						span.glyphicon.glyphicon-star
						span.label-text Type
					td.education-type= edu.type
				
				if edu.degree
					tr.education-row
						td.education-label
							span.glyphicon.glyphicon-certificate
							span.label-text Degree
						td.degree= edu.degree
					
				tr.education-row
					td.education-label
						span.glyphicon.glyphicon-time
						span.label-text Year
					td.education-year= edu.fromYear + " - " + edu.toYear
				
				tr.education-row
					td.education-label
						span.glyphicon.glyphicon-check
						span.label-text Status
					td.degree-status= edu.status
					
				if edu.notes
					tr.education-row
						td.education-label
							span.glyphicon.glyphicon-tag
							span.label-text Notes
						td.education-notes= edu.notes