header
	h2 Employment
	
each e, name in employment
	section
		h3.company-name
			a.company-url(href=e.url, target='_blank')= name
		
		table
			tbody
				tr.employment-row
					td.employment-label
						span.glyphicon.glyphicon-map-marker.label-icon
						span.label-text Location
					td.employment-location
						a.employment-location-link(href='https://www.google.com/maps/place/' + e.city + ',+' + e.country, target='_blank')= e.city
						span.employment-country= ' / ' + e.country
					
				tr.employment-row
					td.employment-label
						span.glyphicon.glyphicon-star.label-icon
						span.label-text Field
					td.employment-year= e.field
				
				tr.employment-row
					td.employment-label
						span.glyphicon.glyphicon-time.label-icon
						span.label-text Year
					td.employment-year= e.fromYear + " - " + e.toYear
					
				if e.notes
					tr.employment-row
						td.employment-label
							span.glyphicon.glyphicon-tag.label-icon
							span.label-text Notes
						td.employment-notes= e.notes