header
	h2(style="display: block") Employment
	
each e, name in employment
	section
		h3.company-name
			a.company-url(href=e.url, target='_blank')= name
		
		table
			tbody
				tr.employment-row
					td.employment-label Country
					td.employment-country= e.country
			
				tr.employment-row
					td.employment-label City
					td.employment-city
						a.employment-city-link(href='https://www.google.com/maps/place/' + e.city + ',+' + e.country, target='_blank')= e.city
					
				tr.employment-row
					td.employment-label Field
					td.employment-year= e.field
				
				tr.employment-row
					td.employment-label Year
					td.employment-year= e.fromYear + " - " + e.toYear
					
				if e.notes
					tr.employment-row
						td.employment-label Notes
						td.employment-notes= e.notes