doctype html
html(lang="en")
	head
		title= siteName
		
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		style!= css
	
	body
		#container
			#header-container
				#header
					#title
						h1= siteName
					
					nav#navigation
						header
							h2 Navigation
						
						each nav in pages
							if nav.visible
								a.navigation-link.ajax(href="/#{nav.url}", onmouseover="document.getElementById('#{nav.url}-menu-hover-audio').play();", onclick="document.getElementById('#{nav.url}-menu-click-audio').play();")
									.navigation-button.sliding-middle-out= nav.title
								audio(id="#{nav.url}-menu-hover-audio")
									source(src="/sounds/menu-hover.ogg", type="audio/ogg")
								audio(id="#{nav.url}-menu-click-audio")
									source(src="/sounds/menu-click.ogg", type="audio/ogg")
			
			#content-container
				section#content!= content
			
			#loading-animation.spinner
				.cube1
				.cube2
		
		script!= js