doctype html
html(lang="en")
	head
		title= siteName
		style!= css
		meta(name="viewport", content="width=device-width, initial-scale=1")
		each font in fonts
			link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=" + font)
	
	body
		h1.title= siteName
		
		section#content!= content
		
		nav.navigation
			header
				h2 Navigation
			
			each link in nav
				.navigation-item
					a.navigation-item-text.sliding-middle-out.ajax(href="/#{link.url}")= link.title
				
		#loading-animation.spinner
			.cube1
			.cube2
		
		script!= js