doctype html
html(lang="en")
	head
		title= siteName
		style!= css
		meta(name="viewport", content="width=device-width, initial-scale=1")
	
	body
		#container
			#header-container
				#header
					#title
						h1= siteName
					
					if nav
						nav#navigation
							header
								h2 Navigation
							
							each link in nav
								.navigation-item
									a.navigation-item-text.sliding-middle-out.ajax(href="/#{link.url}")= link.title
			
			#content-container
				section#content!= content
			
			#loading-animation.spinner
				.cube1
				.cube2
		
		script!= js