doctype html
html(lang="en")
	head
		title= siteName
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		style!= css
	
	body
		#container
			h1#title= siteName
			
			#content!= content
		
		#navigation-container
			nav#navigation
				header
					h2 Navigation
					
				each link, url in nav
					a.navigation-item.sliding-middle-out.ajax(href=`/${url}`)
						span(class='glyphicon glyphicon-' + link.icon + ' navigation-item-icon')
						span.navigation-item-title= link.title
		
		#loading-animation.sk-cube-grid.fade
			.sk-cube.sk-cube1
			.sk-cube.sk-cube2
			.sk-cube.sk-cube3
			.sk-cube.sk-cube4
			.sk-cube.sk-cube5
			.sk-cube.sk-cube6
			.sk-cube.sk-cube7
			.sk-cube.sk-cube8
			.sk-cube.sk-cube9
		
		script!= js