doctype html
html(lang="en")
	head
		title= siteName
		style!= css
		meta(name="viewport", content="width=device-width, initial-scale=1")
	
	body
		#container
			h1#title= siteName
			
			section#content!= content
		
		#navigation-container
			nav#navigation
				header
					h2 Navigation
					
				each link in nav
					a.navigation-item.sliding-middle-out.ajax(href="/#{link.url}")= link.title
		
		#loading-animation.sk-cube-grid
			.sk-cube.sk-cube1
			.sk-cube.sk-cube2
			.sk-cube.sk-cube3
			.sk-cube.sk-cube4
			.sk-cube.sk-cube5
			.sk-cube.sk-cube6
			.sk-cube.sk-cube7
			.sk-cube.sk-cube8
			.sk-cube.sk-cube9

		script!= js